.setting {
    display: flex;
    justify-content: center;
}

.setting div {
    display: flex;
}

.setting span{
    margin: auto;
    padding: 10px;
    border-radius: 50%;
    user-select: none;
    justify-content: center;
    align-items: center;
    display: flex;
}
.setting span:hover{
    cursor: pointer;
    color: #FF0000FF;
    background: #f1eeee;
}