.header {
    display: flex;
    background: #f1eeee;
    justify-content: space-around;
}

.brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header ul button, .header ul a {
    border: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header ul button, .header ul a:hover {
    cursor: pointer;
}


