.header {
    display: flex;
    background: #f1eeee;
    justify-content: space-around;
    box-shadow: 0 0 7px 0 #000000;
    padding: 10px;
}

.brand {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #000;
}

.header ul {
    list-style: none;
    display: flex;
    align-items: center;
}

.header ul button, .header ul a {
    border: none;
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.header ul button, .header ul a:hover {
    cursor: pointer;
}

.search__wrapper {
    display: flex;
    align-items: center;
}

.search {
    border-radius: 20px;
    padding: 10px;
    box-shadow: 0 0 7px 0 #000000;
    border: 1px solid #000000;
}

.search__btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.search__btn:hover {
    text-shadow: 0px 0px 1px #e53935, 0px 0px 3px #e53935, 0px 0px 5px #e53935;
    color: #fff;
}


