.detail {
    max-width: 1280px;
    margin: auto;
}

.title{
    text-align: center;
    align-items: center;
}

.detail__btn {
    background: transparent;
    border: none;
    cursor: pointer;
}

.detail__btn:hover {
    text-shadow: 0px 0px 1px #e53935, 0px 0px 3px #e53935, 0px 0px 5px #e53935;
    color: #fff;
}

