.sidebar__wrappper {
    display: inline-block;
    position: relative;
    width: 250px;
    background: #f1eeee;
}

.sidebar__list {
    position: absolute;
    margin: 0 15px;
    left: 0;
    display: flex;
    flex-direction: column;
    list-style: none;
    background: #f1eeee;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 #000000;
}

.sidebar__item {
    margin: 10px 0;
}

.sidebar__btn_modal {
    background: #ffffff;
    border-radius: 8px;
    border: none;
    box-shadow: 0 0 7px 0 #000000;
}

.sidebar__item a, .sidebar__btn_modal {
    display: flex;
    align-items: center;
    color: #000000;
}